@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.RequestForm.FormFCB;

@{
    ViewData["Title"] = "Bussiness Request";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<div class="d-flex w-100 justify-content-center pt-4 pb-4">
    <div class="HContainer">
        <div class="d-flex justify-content-end">
            <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="Patient" asp-action="SubmitReq">
                <strong class="pe-2">&lt Back</strong>
            </a>
        </div>
        <form class="rounded shadow p-4 mb-5 bg-body-tertiary rounded" asp-action="BussinessReq" asp-controller="PatientRequest" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <h5>Bussiness Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="firstNmae" asp-for="PatientFname">
                        <label class="ms-3">Your First Name</label>
                        <span asp-validation-for="PatientFname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="lastName" asp-for="PatientLname">
                        <label class="ms-3">Your Last Name</label>
                        <span asp-validation-for="PatientLname" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" id="phone1" class="form-control bg-transparent" style="height:58px" asp-for="PatientPhonenumber" />
                        <span asp-validation-for="PatientPhonenumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" class="form-control bg-transparent" placeholder="email" asp-for="PatientEmail">
                        <label class="ms-3">Your Email</label>
                        <span asp-validation-for="PatientEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent"
                               placeholder="bussinessName" asp-for="PatientProperty">
                        <label class="ms-3">Bussiness/Property Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="caseNumber" asp-for="PatientCase">
                        <label class="ms-3">Case Number (Optional)</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Information</h5>
                <div class="form-floating">
                    <textarea type="text" class="form-control bg-transparent border h-25" placeholder="Detail info"
                              rows="3" aria-label="Detail info"
                              aria-describedby="button-addon2" asp-for="clientInformation.Symptoms"></textarea>
                    <label class="ms-3">Enter Brief Detail of Symptoms(options)</label>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="firstNmae" asp-for="clientInformation.Firstname">
                        <label class="ms-3">First Name</label>
                        <span asp-validation-for="clientInformation.Firstname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="lastName" asp-for="clientInformation.Lastname">
                        <label class="ms-3">Last Name</label>
                        <span asp-validation-for="clientInformation.Lastname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="date" class="form-control bg-transparent"
                               placeholder="Date of birth" asp-for="clientInformation.Dob">
                        <label class="ms-3">Date Of Birth</label>
                        <span asp-validation-for="clientInformation.Dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h5>Patient Contact Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" id="email" class="form-control bg-transparent" id="email" placeholder="lastName" asp-for="clientInformation.Email">
                        <label class="ms-3">Your Email</label>
                        <span asp-validation-for="clientInformation.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" id="phone2" class="form-control bg-transparent" style="height:58px" asp-for="clientInformation.Phonenumber" />
                        <span asp-validation-for="clientInformation.Phonenumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Location</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="street" asp-for="clientInformation.Street">
                        <label class="ms-3">Street</label>
                    </div>
                    <div class="col-md-6 d-flex form-floating mt-2 ">
                        <input type="text" class="form-control bg-transparent" placeholder="city" asp-for="clientInformation.City">
                        <label class="ms-3">City</label>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="state" asp-for="clientInformation.State">
                        <label class="ms-3">State</label>
                        <span asp-validation-for="clientInformation.State" class="text-danger"></span>
                        @if (TempData["Msg"] != null)
                        {
                            <span class="text-danger ">@TempData["Msg"]</span>
                        }
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" class="form-control bg-transparent" placeholder="zipCode" asp-for="clientInformation.Zipcode">
                        <label class="ms-3">Zip Code</label>
                        <span asp-validation-for="clientInformation.Zipcode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="roomSuite" asp-for="clientInformation.Locroom">
                        <label class="ms-3">Room # / Suite(optional)</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4 mb-4">
                <button type="submit" class="btn btn-info me-4">Submit</button>
                <a type="button" class="btn btn-outline-info" asp-action="BussinessReq" asp-controller="PatientRequest">Cancel</a>

                <!-- Modal -->
                <partial name="partial/ModalPartial" />

            </div>

        </form>
    </div>
</div>


<script src="~/js/custom.js" asp-append-version="true"></script>
<script src="~/js/contact-api.js" asp-append-version="true"></script>