@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.RequestForm.FormFCB;

@{
    ViewData["Title"] = "Concierge Request";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<div class="d-flex w-100 justify-content-center pt-4 pb-4">
    <div class="HContainer">
        <div class="d-flex justify-content-end">
            <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="Patient" asp-action="SubmitReq">
                <strong class="pe-2">&lt Back</strong>
            </a>
        </div>
        <form class="rounded shadow p-4 mb-5 bg-body-tertiary rounded" asp-action="ConciergeReq" asp-controller="PatientRequest" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <h5>Concierge Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="firstNmae" asp-for="PatientFname">
                        <label class="ms-3">Your First Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="lastName" asp-for="PatientLname">
                        <label class="ms-3">Your Last Name</label>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" id="phone1" class="form-control h-100 bg-transparent" asp-for="PatientPhonenumber"/>
                    </div>   
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" class="form-control bg-transparent" placeholder="email" asp-for="PatientEmail">
                        <label class="ms-3">Your Email</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInputValue"
                               placeholder="propertyName" asp-for="PatientProperty">
                        <label class="ms-3">Hotel/Property Name</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Concierge Location</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="street" asp-for="PatientStreet">
                        <label class="ms-3">Street</label>
                    </div>
                    <div class="col-md d-flex form-floating mt-2 ">
                        <input type="text" class="form-control bg-transparent" placeholder="city" asp-for="PatientCity">
                        <label class="ms-3">City</label>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="state" asp-for="PatientState">
                        <label class="ms-3">State</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" class="form-control bg-transparent" placeholder="zipCode" asp-for="PatientZipcode">
                        <label class="ms-3">Zip Code</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Information</h5>
                <div class="form-floating mt-2">
                    <textarea type="text" class="form-control bg-transparent border h-25" placeholder="Detail info"
                             rows="3" aria-label="Detail info"
                              aria-describedby="button-addon2" asp-for="clientInformation.Symptoms"></textarea>
                    <label for="floatingInput text-info">Enter Brief Detail of Symptoms(options)</label>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="firstNmae" asp-for="clientInformation.Firstname">
                        <label class="ms-3">First Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="lastName" asp-for="clientInformation.Lastname">
                        <label class="ms-3">Last Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="date" class="form-control bg-transparent" id="floatingInputValue"
                               placeholder="Date of birth" value="12-05-2023" asp-for="clientInformation.Dob">
                        <label class="ms-3">Date Of Birth</label>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h5>Patient Contact Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" id="email" class="form-control bg-transparent" placeholder="email" asp-for="clientInformation.Email">
                        <label class="ms-3">Email</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" id="phone2" class="form-control h-100 bg-transparent" asp-for="clientInformation.Phonenumber" />
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Location</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" placeholder="firstNmae" asp-for="clientInformation.Locroom">
                        <label class="ms-3">Room # / Suite(Optional)</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4 mb-4">
                <button type="submit" class="btn btn-info me-4">Submit</button>
                <button type="button" class="btn btn-outline-info">Cancel</button>

                <!-- Modal -->
                <partial name="partial/ModalPartial" />

            </div>

        </form>
    </div>
</div>


<script src="~/js/custom.js" asp-append-version="true"></script>
<script src="~/js/contact-api.js" asp-append-version="true"></script>