@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.RequestForm.ClientInformation;


@{
    ViewData["Title"] = "Patient Request";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<div class="d-flex w-100 justify-content-center pb-4">
    <div class="HContainer m-auto">
        <div class="d-flex justify-content-end">
            <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="Patient" asp-action="SubmitReq">
                <strong class="pe-2">&lt Back</strong>
            </a>
        </div>

        <form class="rounded shadow p-4 mb-5 bg-body-tertiary rounded" asp-action="PatientReq" asp-controller="PatientRequest" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <h5>Patient Information</h5>
                <div class="form-floating">
                    <textarea type="text" class="form-control bg-transparent border border-info h-25"
                              placeholder="Detail info" id="floatingInput" rows="3" aria-label="Detail info"
                              aria-describedby="button-addon2" asp-for="Symptoms"> </textarea>
                    <label for="ms-3 text-info">Enter Brief Detail of Symptoms(options)</label>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="firstNmae" asp-for="Firstname">
                        <label class="ms-3">First Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="lastName" asp-for="Lastname">
                        <label class="ms-3">Last Name</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="date" class="form-control bg-transparent" id="floatingInputValue"
                               placeholder="Date of birth" value="12/05/2023" asp-for="Dob">
                        <label class="ms-3">Date of Birth</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Contact Information</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="email" name="email" id="email" class="form-control bg-transparent" placeholder="email" asp-for="Email">
                        <label class="ms-3">Email</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" id="phone1" class="form-control h-100 bg-transparent" asp-for="Phonenumber"/>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="password" class="form-control bg-transparent" id="password" name="password" placeholder="Password" asp-for="Password" style="display: none;">
                        <label class="ms-3" id="passwordLabel" style="display: none;">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="password" class="form-control bg-transparent" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" asp-for="ConfirmPassword" style="display: none;">
                        <label class="ms-3" id="confirmPasswordLabel" style="display: none;">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4">
                <h5>Patient Location</h5>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="street" asp-for="Street">
                        <label class="ms-3">Street</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2 ">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="city" asp-for="City">
                        <label class="ms-3">City</label>
                    </div>
                </div>
                <div class="row form-floating">
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="state" asp-for="State">
                        <label class="ms-3">State</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="number" class="form-control bg-transparent" id="floatingInput" placeholder="zipCode" asp-for="Zipcode">
                        <label class="ms-3">Zip Code</label>
                    </div>
                    <div class="col-md-6 form-floating mt-2">
                        <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="roomSuite" asp-for="Locroom">
                        <label class="ms-3">Room # / Suite(optional)</label>
                    </div>
                    @if (ViewBag.DefaultFieldValue == "reqMap")
                    {
                        <div class="col-md-6 form-floating mt-2">
                            <button class="btn btn-outline-info p-3"> <i class="bi bi-geo-alt"></i> Map</button>
                        </div>
                    }
                </div>
            </div>

            @if (ViewBag.ShowAdditionalInput)
            {
                <div class="mt-4 mb-4">
                    <h5>Relation</h5>
                    <div class="row form-floating">
                        <div class="col-md-6 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent" id="floatingInput" placeholder="Relation with Patient" asp-for="relation">
                            <label class="ms-3">Relation with Patient (optional)</label>
                        </div>
                    </div>
                </div>
            }

            <div class="mt-4 mb-4">
                <h5>(optional) Upload Photo or Document</h5>
                <div class="d-flex m-auto">
                    <div class="p-0 w-100">
                        <input type="text" class="form-control bg-transparent" id="selectedFile" placeholder="select File" 
                               disabled>
                        <label class="ms-3"></label>
                    </div>
                    <div>
                        <label class="btn btn-outline-info d-flex ">
                            <input type="file" style="display: none;" id="FileInput" name="DocFile" multiple>
                            <i class="bi bi-cloud-arrow-up border-info"></i>
                            <span class="upload_txt ms-2">Upload</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4 mb-4">
                <button type="submit" class="btn btn-info me-4" name="Upload">Submit</button>
                <button type="button" class="btn btn-outline-info">Cancel</button>

                <!-- Modal -->
                <partial name="partial/ModalPartial" />
                
            </div>
        </form>
    </div>
</div>

<script src="~/js/custom.js" asp-append-version="true"></script>
<script src="~/js/contact-api.js" asp-append-version="true"></script>
<script asp-append-version="true">
    $(document).ready(function () {
        $('#email').blur(function () {
            var email = $(this).val();
            $.ajax({
                url: '/Patient/CheckEmail',
                method: 'POST',
                data: { email: email },
                success: function (response) {
                    if (response.exists) {
                        $('#password, #confirmPassword, #confirmPasswordLabel , #passwordLabel').hide();
                    } else {
                        $('#password, #confirmPassword, #confirmPasswordLabel , #passwordLabel').show();
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
        