@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Library Mangment";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library Managment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AssignmentTask.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="bg-darkBlue">
            <h3 class="text-light p-3">Library Management System</h3>
        </div>
    </header>
    <section class="ms-4 me-4">
        <div class="d-flex justify-content-between w-85 m-auto">
            <div class="form-floating w-25 mt-2">
                <input type="text" id="searchBook" class="form-control" placeholder="add1">
                <label class=""> Search </label>
            </div>
            <button type="button" class="btn bg-darkBlue mt-2 mb-2 ps-4 pe-4 addBook"> ADD BOOK </button>
        </div>

        <div class="mt-4">
            <div id="partial" class="w-85 m-auto"></div>
        </div>
    </section>
    <div id="PartialPopup"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script asp-append-version="true">
        $(document).ready(function () {
            $.ajax({
                url: '/Library/LibraryData',
                method: 'GET',
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('#searchBook').keyup(function (){
            var searchName = $('#searchBook').val();
            $.ajax({
                url: '/Library/LibraryData',
                method: 'POST',
                data: { searchName: searchName},
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.addBook').click(function (){
            $.ajax({
                url: '/Library/AddBook',
                method: 'POST',
                success: function (response) {
                    $("#PartialPopup").html(response);
                    var my = new bootstrap.Modal(document.getElementById('AddBookPopup'));
                    my.show();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(document).on('click', '.page-link', function () {
            console.log("test");
            var page = $(this).data('page');
            var searchName = $('#searchBook').val();
            $.ajax({
                url: '/Library/LibraryData',
                method: 'POST',
                data: { page: page, searchName: searchName },
                success: function (response) {
                    $("#partial").html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
</body>
</html>


