@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HalloDoc.Entity.AdminTab.CreateRoleViewModel;

@{
    ViewData["Title"] = "Create role";
    Layout = "";
}

<div class="HContainer m-auto">
    <div class="d-flex justify-content-between mt-4">
        <h4>Create Role</h4>
        <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminTab" asp-action="Provider">
            <strong class="pe-2">&lt Back</strong>
        </a>
    </div>

    <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
        <div class="mb-4">
            <h5>Details></h5>
            <div class="row">
                <div class="col-md-6 form-floating mt-2">
                    <input type="text" class="form-control bg-transparent RoleName" placeholder="add1">
                    <label class="ms-3">Role Name</label>
                    <span class="text-danger roleMsg"></span>
                </div>
                <div class="col-md-6 form-floating mt-2">
                    <select class="form-select selectAcctype" aria-label="Floating label select">
                        <option value="0" selected> All </option>
                        @foreach (var role in Model.aspnetrole)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    </select>
                    <label class="ms-2" for="floatingSelect">Account Type</label>
                    <span class="text-danger AccMsg"></span>
                </div>
            </div>
            <div class="m-3 CheckOption">
            </div>
            <span class="ServerMsg text-danger"></span>
            <div class="d-flex justify-content-end">
                <button class="btn btn-info text-light SaveRole me-2">Save</button>
                <button class="btn btn-outline-info text-info">Back</button>
            </div>
        </div>
    </div>
</div>


<script asp-append-version="true">
    $(document).ready(function () {
        $.ajax({
            url: '/AdminTab/AccOption',
            method: 'POST',
            data: { AccType: 0 },
            success: function (response) {
                $('.CheckOption').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });

        $('.selectAcctype').change(function () {
            var AccType = $('.selectAcctype').val();
            $.ajax({
                url: '/AdminTab/AccOption',
                method: 'POST',
                data: { AccType: AccType },
                success: function (response) {
                    $('.CheckOption').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        function pageList() {
            let pages = [];
            let inputs = $(".checkboxClass");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checked) {
                    pages.push(inputs[i].value);
                }
            }
            return pages;
        }
        function CheckData() {
            if ($('.RoleName').val() == '') {
                $('.roleMsg').text("Please add RoleName");
                return false;
            }
            else if ($('.selectAcctype').val() == 0) {
                $('.AccMsg').text("Please Select Account Type");
                $('.roleMsg').text("");
                return false;
            }
            else if (pageList().length <= 0) {
                $('.AccMsg').text("");
                $('.roleMsg').text("");
                $('.ServerMsg').text("please select opption");
                return false;
            }
            else {
                return true;
            }
        }

        $('.SaveRole').click(function () {
            var RoleName = $('.RoleName').val();
            var AccType = $('.selectAcctype').val();
            var Pages = pageList();
            if (CheckData()) {
                $.ajax({
                    url: '/AdminTab/SaveRole',
                    method: 'POST',
                    data: { RoleName: RoleName, AccType: AccType, Pages: Pages },
                    success: function (response) {
                        if (response.value == "error") {
                            $('.ServerMsg').text("Detail are not valid !").addClass("text-center");
                        }
                        else {
                            window.location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });

    });
</script>