@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HalloDoc.Entity.AdminTab.RoleMenuCheckbox;

@{
    Layout = "";
}

<div class="mt-4">
    @foreach (var menu in Model.menus)
    {
        <div class="form-check form-check-inline mb-3">
            <input name="checkReg" class="form-check-input me-2 checkboxClass" id="@menu.Menuid" type="checkbox" value="@menu.Menuid">
            <label>@menu.Name</label>
        </div>
    }
</div>

@foreach (var menu in Model.rolemenus)
{
    <script>
        $(document).ready(function () {
            $('#@menu.Menuid').prop('checked', true);
        });
    </script>
}