@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<HalloDoc.Entity.Models.Menu>;

@{
    Layout = "";
}

<div class="mt-4">
    @foreach (var menu in Model)
    {
        <div class="form-check form-check-inline mb-3">
            <input name="checkReg" class="form-check-input me-2 checkboxClass" type="checkbox" value="@menu.Name">
            <label>@menu.Name</label>
        </div>
    }
</div>