@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HalloDoc.Entity.AdminTab.ShiftPoupViewModel;


<div class="modal fade" id="NewShift" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header bg-info p-2">
                <h1 class="modal-title fs-5 text-light ms-2" id="exampleModalLabel">
                    Create Shift
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="ShiftForm" novalidate class="needs-validation">
                <div class="modal-body">
                    <p>Choose communication to send message</p>
                    <p class="text-danger text-center checkMsg"></p>
                    <div class="form-floating">
                        <input type="hidden" class="regId" asp-for="regId" />
                        <select class="form-select selectReg" aria-label="Floating label select" onchange="checkData()">
                            <option value="" selected disabled>select Region</option>
                            @foreach (var reg in Model.Regions)
                            {
                                <option value="@reg.Regionid">@reg.Name</option>
                            }
                        </select>
                        <label for="floatingSelect">Region</label>
                        <span class="text-danger regMsg"></span>
                    </div>
                    <input type="hidden" class="phid" asp-for="phyid" />
                    <div class="form-floating mt-2">
                        <select class="form-select PhyOption" aria-label="Floating label select" onchange="checkData()">
                            <option value="" disabled>select</option>
                        </select>
                        <label for="floatingSelect">Physician</label>
                        <span class="text-danger phyOptnMsg"></span>
                    </div>
                    <div class="form-floating mt-2">
                        <input type="date" class="form-control bg-transparent shiftDate" id="ShiftDate"
                               placeholder="shiftdate" asp-for="shiftdate" onchange="checkData()">
                        <label> Shift Date </label>
                        <span class="text-danger shiftdateMsg"></span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 form-floating">
                            <input type="time" class="form-control bg-transparent"
                                   placeholder="start" asp-for="timeStart">
                            <label class="ms-3"> Start </label>
                        </div>
                        <div class="col-md-6 form-floating">
                            <input type="time" class="form-control bg-transparent"
                                   placeholder="end" asp-for="timeEnd">
                            <label class="ms-3"> End </label>
                        </div>
                    </div>
                    <p class="ms-2">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Repeat</label>
                            <input class="form-check-input" type="checkbox" role="switch" id="chekrep" asp-for="isRepeat">
                        </div>
                    </p>

                    <div class="mt-2 forrpt d-none">
                        <p class="text-secondary">Repeat Days</p>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="1">
                            <label>Every Sunday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="2">
                            <label>Every Monday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="3">
                            <label>Every Tuesday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="4">
                            <label>Every Wednesday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="5">
                            <label>Every Thursday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="6">
                            <label>Every Friday</label>
                        </div>
                        <div class="form-check form-check-inline mb-3">
                            <input name="checkDays" class="form-check-input me-2 checkboxClass" type="checkbox" value="7">
                            <label>Every Saturday</label>
                        </div>
                    </div>
                        <span class="text-danger selectreptMsg"></span>
                    <div class="form-floating forrpt d-none mt-3">
                        <input type="hidden" class="reptTime" asp-for="repeatTime"/>
                        <select class="form-select reptTimeSelect" aria-label="Floating label select" onchange="checkData()">
                            <option value="0" selected disabled> None </option>
                            <option value="2">2-times</option>
                            <option value="3"> 3-times</option>
                            <option value="4"> 4-times</option>
                        </select>
                        <label for="floatingSelect">Repeat End</label>
                        <span class="text-danger selectrepttimeMsg"></span>
                    </div>
                </div>
                <div class="modal-footer p-1">
                    <button type="submit" class="btn btn-secondary btn-info text-light sendcontPop"> Save </button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script asp-append-version="true">

    var today = new Date();
    var formattedDate = today.toISOString().split('T')[0];
    document.getElementById('ShiftDate').min = formattedDate;

    $('#chekrep').change(function () {
        if ($('#chekrep').is(':checked') == true) {
            $('.forrpt').removeClass('d-none');
        }
        else {
            $('.forrpt').addClass('d-none');
        }
    });

    $('.selectReg').change(function () {
        var region = $('.selectReg').val();
        $.ajax({
            url: '/AdminDash/CheckPhysician',
            method: 'POST',
            data: { region: region },
            success: function (response) {
                $(".regId").val(region);
                $(".PhyOption").empty().append($('<option disabled selected>Select Physician</option>'));
                $.each(response.physician, function (index, item) {
                    $(".PhyOption").append($('<option></option>').val(item.physician.physicianid).text(item.physician.firstname));
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.PhyOption').change(function (e) {
        e.preventDefault();
        $('.phid').val($('.PhyOption').val());
    });

    $('.reptTimeSelect').change(function (e) {
        e.preventDefault();
        $('.reptTime').val($('.reptTimeSelect').val());
    });

    function reptList() {
        let boxlist = [];
        let inputs = $(".checkboxClass");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                boxlist.push(inputs[i].value);
            }
        }
        return boxlist;
    }

    function checkData() {
        var shiftDate = new Date($('.shiftDate').val());
        if ($('.selectReg').val() == null) {
            $('.regMsg').text("Please Select Region");
            return false;
        }
        else if ($('.PhyOption').val() == null) {
            $('.phyOptnMsg').text("Please Select Account Type");
            $('.regMsg').text("");
            return false;
        }
        else if ($('.shiftDate').val() == '') {
            $('.regMsg').text("");
            $('.phyOptnMsg').text("");
            $('.shiftdateMsg').text("please select Shift Date");
            return false;
        }
        else if (new Date() >= shiftDate){
            $('.regMsg').text("");
            $('.phyOptnMsg').text("");
            $('.shiftdateMsg').text("Next Date Please");
            return false;
        }
        else if ($('#chekrep').is(':checked') == true) {
            if (reptList().length <= 0) {
                $('.regMsg').text("");
                $('.phyOptnMsg').text("");
                $('.shiftdateMsg').text("");
                $('.selectreptMsg').text("please select opption");
                return false;
            }
            else if ($('.reptTimeSelect').val() == null) {
                $('.phyOptnMsg').text("");
                $('.shiftdateMsg').text("");
                $('.selectreptMsg').text("");
                $('.selectrepttimeMsg').text("Please select repeat End.");
                return false;
            }
            else {
                $('.phyOptnMsg').text("");
                $('.shiftdateMsg').text("");
                $('.selectreptMsg').text("");
                $('.selectrepttimeMsg').text("");
                return true;
            }
        }
        else {
            $('.phyOptnMsg').text("");
            $('.shiftdateMsg').text("");
            $('.selectreptMsg').text("");
            $('.selectrepttimeMsg').text("");
            return true;
        }
        
    }

    $('#ShiftForm').submit(function (e) {
        e.preventDefault();
        var formdata = $('#ShiftForm').serialize();
        console.log(checkData());
        if (checkData()) {
            $.ajax({
                url: '/AdminTab/checkShiftExist',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: formdata,
                success: function (response) {
                    if (response.value == "Ok") {
                        $.ajax({
                            url: '/AdminTab/shiftData',
                            method: 'POST',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: formdata,
                            success: function (response) {
                                if (response.value == "Ok") {
                                    window.location.reload();
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        });
                    }
                    else{
                        $('.checkMsg').text("Physician is busy with other shift");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    })
</script>