@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Log History";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div class="d-flex w-100 justify-content-center pb-4">
        <div class="m-auto">
            <div class="d-flex m-3">
                <input type="text" class="d-none viewbag" value="@ViewBag.logType" />
                @if (ViewBag.logType == "SMS")
                {
                    <h5>SMS Logs (Twilio)</h5>
                }
                else
                {
                    <h5>Email Logs (Gmail)</h5>
                }
            </div>

            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-2 form-floating mt-2">
                            <select class="form-select bg-transparent selectRole" aria-label="Floating label select">
                                <option value="0" selected> All  </option>
                                @foreach (var i in Enum.GetValues(typeof(HalloEnum.HalloMainRole)))
                                {
                                    <option value="@((int)i)">@Enum.GetName(typeof(HalloEnum.HalloMainRole), i) </option>
                                }
                            </select>
                            <label class="ms-3">Search by Role</label>
                        </div>
                        <div class="col-md-2 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent RecName" placeholder="add1">
                            <label class="ms-3">Reciver Name</label>
                        </div>
                        @if (ViewBag.logType == "SMS")
                        {
                            <div class="col-md-2 form-floating mt-2">
                                <input type="number" class="form-control bg-transparent MobileCon" placeholder="add1">
                                <label class="ms-3">Mobile Number</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-2 form-floating mt-2">
                                <input type="email" class="form-control bg-transparent EmailChng" placeholder="add1">
                                <label class="ms-3">Email</label>
                            </div>
                        }
                        <div class="col-md-2 form-floating mt-2">
                            <input type="date" class="form-control bg-transparent crDate" placeholder="add1">
                            <label class="ms-3">Created Date</label>
                        </div>
                        <div class="col-md-2 form-floating mt-2">
                            <input type="date" class="form-control bg-transparent cgDate" placeholder="add1">
                            <label class="ms-3">Sent Date</label>
                        </div>
                        <div class="col-md-2 mt-3">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-info text-light serchBtn">Search</button>
                                <button class="btn btn-outline-info text-info ms-2 clerInput">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="LogPartial"><div id="loading"></div></div>

                </div>
            </div>

        </div>
    </div>
</div>


<script asp-append-version="true">
    $(document).ready(function () {
        var checklog = $('.viewbag').val();
        $.ajax({
            url: '/AdminTab/EmailSMSlogData',
            method: 'POST',
            data: { checklog: checklog },
            success: function (response) {
                $('.LogPartial').html(response);
            },
            error: function (xhr, status, error) {
                if (xhr["status"] == 401) {
                    window.location.href = "/Patient/PatientLogin";
                } else {
                    console.error(xhr.responseText)
                }
            }
        });
    });

    $('.serchBtn').click(function () {
        var checklog = $('.viewbag').val();
        var name = $('.RecName').val().trim();
        var email = $('.EmailChng').val();
        var mobile = $('.MobileCon').val();
        var role = $('.selectRole').val();
        var crDate = $('.crDate').val();
        var cgDate = $('.cgDate').val();
        $.ajax({
            url: '/AdminTab/EmailSMSlogData',
            method: 'POST',
            data: { role: role, email: email, mobile: mobile, name: name, crDate: crDate, cgDate: cgDate, checklog: checklog },
            success: function (response) {
                $('.LogPartial').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.clerInput').click(function () {
        var checklog = $('.viewbag').val();
        $('input').val("");
        $('select').val("0");
        $.ajax({
            url: '/AdminTab/EmailSMSlogData',
            method: 'POST',
            data: {checklog: checklog },
            success: function (response) {
                $('.LogPartial').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

</script>