@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Patient History";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div class="d-flex w-100 HistoryMain justify-content-center pb-4">
        <div class="HContainer m-auto">
            <div class="d-flex m-3">
                <h5>Patient History</h5>
            </div>

            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-3 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent Hfname dataChng" placeholder="add1">
                            <label class="ms-3">First Name</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent Hlname dataChng" placeholder="add1">
                            <label class="ms-3">Last Name</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="email" class="form-control bg-transparent Hemail dataChng" placeholder="add1">
                            <label class="ms-3">Email</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="number" class="form-control bg-transparent Hphone dataChng" placeholder="add1">
                            <label class="ms-3">Phone Number</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2 mb-2">
                        <button class="btn btn-outline-info text-info clerInput">Clear</button>
                        <button class="btn btn-info text-light ms-3 serchBtn">Search</button>
                    </div>
                </div>
                <div class="PHistoryTable">
                </div>
            </div>
        </div>
    </div>
    <div class="PRocordTable"></div>
</div>

<script asp-append-version="true">
    $(document).ready(function () {
        var item;
        $.ajax({
            url: '/AdminTab/PatientHistoryData',
            method: 'POST',
            data: { item: item },
            success: function (response) {
                $('.PHistoryTable').html(response);
            },
            error: function (xhr, status, error) {
                if (xhr["status"] == 401) {
                    window.location.href = "/Patient/PatientLogin";
                } else {
                    console.error(xhr.responseText)
                }
            }
        });
    });

    $('.serchBtn').click(function () {
        var Hfname = $('.Hfname').val().trim();
        var Hlname = $('.Hlname').val().trim();
        var Hemail = $('.Hemail').val().trim();
        var Hphone = $('.Hphone').val().trim();
        $.ajax({
            url: '/AdminTab/PatientHistoryData',
            method: 'POST',
            data: { Hfname: Hfname, Hlname: Hlname, Hemail: Hemail, Hphone: Hphone },
            success: function (response) {
                $('.PHistoryTable').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $(document).on('click', '.page-link', function () {
        var page = $(this).data('page');
        var Hfname = $('.Hfname').val().trim();
        var Hlname = $('.Hlname').val().trim();
        var Hemail = $('.Hemail').val().trim();
        var Hphone = $('.Hphone').val().trim();
        $.ajax({
            url: '/AdminTab/PatientHistoryData',
            method: 'POST',
            data: { Hfname: Hfname, Hlname: Hlname, Hemail: Hemail, Hphone: Hphone, page: page },
            success: function (response) {
                $('.PHistoryTable').html(response);
                $('#CurrentPage').text("Page : " + (page + 1));
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.clerInput').click(function () {
        $('input').val("");
        $.ajax({
            url: '/AdminTab/PatientHistoryData',
            method: 'POST',
            success: function (response) {
                $('.PHistoryTable').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
