@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Provider Location";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}



<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMQ2BRQ6H_gCEkdJjqHvonEH5hkAeuj4E&callback=initMap&v=weekly" defer></script>

<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div>
        <h5 class="ms-3 mt-4 mb-3">Location Provider</h5>
        <div id="map" class="w-75 m-auto" style="height: 600px; background-color: #f3f3f3;"><div id="loading"></div></div>
    </div>
</div>




<script asp-append-version="true">
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: { lat: 23.0411715, lng: 72.4760996 },
        });

        $.ajax({
            url: '/AdminTab/ProviderLocData',
            method: 'POST',
            success: function (response) {
                var phyLocData = response.data.map((item, index) => ({
                    lat: item.latitude,
                    lng: item.longitude,
                    name: item.physicianname,
                }));

                const infoWindow = new google.maps.InfoWindow();

                phyLocData.forEach((item, i) => {
                    const marker = new google.maps.Marker({
                        position: { lat: item.lat, lng: item.lng },
                        map: map,
                        title: `Dr. ${item.name}`,
                        label: `${ i + 1}`,
                        optimized: false,
                    });

                    marker.addListener("click", () => {
                        infoWindow.close();
                        infoWindow.setContent(marker.getTitle());
                        infoWindow.open(map, marker);
                    });
                });

            },
            error: function (xhr, status, error) {
                if (xhr["status"] == 401) {
                    window.location.href = "/Patient/PatientLogin";
                } else {
                    console.error(xhr.responseText)
                }
            }
        });
    }

    window.initMap = initMap;
</script>