@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<HalloDoc.Entity.AdminDashTable.tableData>;

@{
    ViewData["Title"] = "Provider Location";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<link rel="stylesheet" href="~/css/Dashbord.css" asp-append-version="true" />



<div class="MainContent pt-0 min-vh-100">
        <partial name="partial/AdminNavTab" />

        <div>
            Location Provider tab
            <p>hello</p>
        </div>
    </div>
</div>

<script asp-append-version="true">
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('proLocTab').classList.add('underLine');
    });
</script>