@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<HalloDoc.Entity.Models.Region>;

@{
    ViewData["Title"] = "Provider Location";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<link rel="stylesheet" href="~/css/Shift.css" asp-append-version="true" />
@*<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>*@
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.11/index.global.min.js'></script>


<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div class="HContainer m-auto schedulePage">
        <div class="d-flex justify-content-between mt-4">
            <h4>Scheduling</h4>
            <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="AdminDash" asp-action="Dashbord">
                <strong class="pe-2">&lt Back</strong>
            </a>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="w-25">
                <select class="form-select regSelect" aria-label="Floating label select example">
                    <option selected>All Region</option>
                    @foreach (var reg in Model)
                    {
                        <option value="@reg.Regionid">@reg.Name</option>
                    }
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-info text-light me-2 ProvderOnCall">Providers On Call</button>
                <button type="button" class="btn btn-info text-light me-2 ShiftReviewBtn">Shift For Review</button>
                <button type="button" class="btn btn-info text-light AddNewShift">Add New Shift</button>
            </div>
        </div>
        <div>
            <div id="dateDisplay" class="h5 mt-3 mb-0"></div>
        </div>
        <div class="d-flex justify-content-end mb-4">
            <span><button class="btn penShift h-100 me-2"></button></span><span class="me-3">Pending Shift</span>
            <span><button class="btn apprvShift h-100 me-2"></button></span><span>Approved Shift</span>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <button id="cal-prev" class="btn btn-info rounded-circle"><i class="bi bi-chevron-compact-left"></i></button>
                <span id="cal-today" class="ms-2 me-2"><i class="bi bi-calendar-check-fill"></i></span>
                <button id="cal-next" class="btn btn-info rounded-circle"><i class="bi bi-chevron-compact-right"></i></button>
            </div>
            <div>
                <button id="DaySchedule" class="btn btn-outline-info text-black Daybtn me-2">Day</</button>
                <button id="WeekSchedule" class="btn btn-outline-info text-black Weekbtn me-2">Week</</button>
                <button id="MonthSchedule" class="btn btn-outline-info btn-info text-black Monthbtn">Month</</button>
            </div>
        </div>

        <div id='calendar' class="table-responsive mt-4"></div>
        <div id="PartialPopup"></div>
    </div>
    <div id="partialPage"></div>
</div>

<script asp-append-version="true">

    function updateDateDisplay(date) {
        var formattedDate;
        if (calendar.view.type === 'dayGridMonth') {
            formattedDate = date.toLocaleString('default', { month: 'short', year: 'numeric' });
        } else if (calendar.view.type === 'resourceTimelineWeek') {
            var startOfWeek = new Date(date);
            startOfWeek.setDate(date.getDate() - date.getDay() + (date.getDay() === 0 ? -6 : 1));
            var endOfWeek = new Date(date);
            endOfWeek.setDate(startOfWeek.getDate() + 6);
            formattedDate = startOfWeek.toLocaleString('default', { month: 'short', day: '2-digit' }) + ' - ' + endOfWeek.toLocaleString('default', { month: 'short', day: '2-digit', year: 'numeric' });
        } else if (calendar.view.type === 'resourceTimelineDay') {
            formattedDate = date.toLocaleString('default', { weekday: 'long', month: 'short', day: '2-digit', year: 'numeric' });
        }
        document.getElementById("dateDisplay").innerHTML = formattedDate;
    }
    function ViewShift(eventid) {
        $.ajax({
            url: '/AdminTab/viewShift',
            method: 'POST',
            data: { eventid: eventid },
            success: function (response) {
                $("#PartialPopup").html(response);
                var my = new bootstrap.Modal(document.getElementById('ViewShift'));
                my.show();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        selectable: true,
        eventDisplay: 'block',
        eventClick: function (event, jsEvent, view) {
            ViewShift(event.event.id);
        },
        themeSystem: 'bootstrap5',
        headerToolbar: false,
    });

    function scheduleRecord() {
        var reg = $('.regSelect').val();
        $.ajax({
            url: '/AdminTab/getScheduleData',
            method: 'POST',
            data: { reg: reg },
            success: function (response) {
                const shiftData = response.shiftdetail;

                const events = shiftData.map((shift) => ({
                    id: shift.shiftdetailid,
                    title: `${shift.starttime}-${shift.endtime} / ${shift.shift.physician.firstname}`,
                    start: `${shift.shiftdate}T${shift.starttime}`,
                    end: `${shift.shiftdate}T${shift.endtime}`,
                    backgroundColor: shift.status == '0' ? '#f74a4a' : '#65bb6a',
                    resourceId: `${shift.shift.physicianid}`,
                }));

                calendar.setOption('events', events);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    function setResources() {
        var reg = $('.regSelect').val();
        $.ajax({
            url: '/AdminTab/getPhysicianRecord',
            method: 'POST',
            data: { reg: reg },
            success: function (response) {
                console.log(response);
                const resources = response.phyCustomNameViewModel.map((physician) => ({
                    id: physician.physicianid,
                    title: `${physician.firstname} ${physician.lastname}`,
                    imageUrl: `${physician.photo}`,
                }));
                calendar.setOption('resourceLabelDidMount', function (resourceObj) {
                    const img = document.createElement('img');
                    const imgUrl = resourceObj.resource.extendedProps.imageUrl;
                    img.src = imgUrl != "null" ? `data:image/png;base64,${imgUrl}` : '/image/Doctor.png';
                    img.style.height = '40px';
                    img.style.width = '40px';
                    resourceObj.el.querySelector('.fc-datagrid-cell-main').appendChild(img);
                });
                calendar.setOption('resources', resources);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }


    updateDateDisplay(calendar.getDate());
    scheduleRecord();
    calendar.render();

    $('#WeekSchedule').click(function () {
        $('.Daybtn').removeClass('btn-info');
        $('.Weekbtn').addClass('btn-info');
        $('.Monthbtn').removeClass('btn-info');
        calendar.changeView('resourceTimelineWeek');
        calendar.setOption('slotLabelInterval', { days: 1 });
        calendar.setOption('slotLabelContent', function (arg) {
            let days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
            return days[arg.date.getDay()] + ' ' + arg.date.getDate();
        });
        scheduleRecord();
        setResources();
        updateDateDisplay(calendar.getDate());
    });

    $('#MonthSchedule').click(function () {
        $('.Daybtn').removeClass('btn-info');
        $('.Weekbtn').removeClass('btn-info');
        $('.Monthbtn').addClass('btn-info');
        calendar.changeView('dayGridMonth');
        updateDateDisplay(calendar.getDate());
    });

    $('#DaySchedule').click(function () {
        $('.Daybtn').addClass('btn-info');
        $('.Weekbtn').removeClass('btn-info');
        $('.Monthbtn').removeClass('btn-info');
        calendar.changeView('resourceTimelineDay');
        calendar.setOption('slotLabelInterval', null);
        calendar.setOption('slotLabelContent', function (arg) {
            return (arg.date.getHours() % 12 || 12) + (arg.date.getHours() < 12 ? 'A' : 'P');
        });
        calendar.setOption('aspectRatio', 1.5);
        calendar.setOption('slotDuration', '01:00');
        calendar.setOption('resourceAreaColumns', [
            {
                field: 'title',
                headerContent: 'Staff'
            }
        ]);
        scheduleRecord();
        setResources();
        updateDateDisplay(calendar.getDate());
    });


    $('#cal-prev').click(function () {
        calendar.prev();
        var currentDate = calendar.getDate();
        updateDateDisplay(currentDate);
    });
    $('#cal-next').click(function () {
        calendar.next();
        var currentDate = calendar.getDate();
        updateDateDisplay(currentDate);
    });
    $('#cal-today').click(function () {
        calendar.today();
        var currentDate = calendar.getDate();
        updateDateDisplay(currentDate);
    });

    $('.regSelect').change(function () {
        scheduleRecord();
        setResources();
    });

    $('.AddNewShift').click(function () {
        $.ajax({
            url: '/AdminTab/NewShiftPopUp',
            success: function (response) {
                $("#PartialPopup").html(response);
                var my = new bootstrap.Modal(document.getElementById('NewShift'));
                my.show();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.ShiftReviewBtn').click(function () {
        $.ajax({
            url: '/AdminTab/ShiftReview',
            success: function (response) {
                $('.schedulePage').remove();
                $('#partialPage').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.ProvderOnCall').click(function () {
        $.ajax({
            url: '/AdminTab/ProviderCall',
            success: function (response) {
                $('.schedulePage').remove();
                $('#partialPage').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>