@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Search Record";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}


<div class="MainContent pt-0 min-vh-100">
    <partial name="partial/AdminNavTab" />

    <div class="w-100 pb-4">
        <div class="m-auto ms-4 me-4">
            <div class="d-flex justify-content-between align-items-center m-3">
                <h5>Search Record</h5>
                <a class="btn btn-info text-light ExportData" asp-action="ExportFile">
                    <i class="bi bi-send-arrow-down-fill"></i>Export Data to Excel
                </a>
            </div>

            <div class="rounded shadow p-4 mb-5 bg-body-tertiary rounded">
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-3 form-floating mt-2">
                            <select class="form-select bg-transparent SreqStatus" aria-label="Floating label select">
                                <option value="0" selected> All  </option>
                                @foreach (var i in Enum.GetValues(typeof(HalloEnum.DashName)))
                                {
                                    <option value="@i">@Enum.GetName(typeof(HalloEnum.DashName), i) </option>
                                }
                            </select>
                            <label class="ms-3">Select Request Status</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent SptName" placeholder="add1">
                            <label class="ms-3">Patient Name</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <select class="form-select bg-transparent SreqType" aria-label="Floating label select">
                                <option value="0" selected> All </option>
                                @foreach (var i in Enum.GetValues(typeof(HalloEnum.repestType)))
                                {
                                    <option value="@((int)i)">@Enum.GetName(typeof(HalloEnum.repestType), i) </option>
                                }
                            </select>
                            <label class="ms-3">Select Request Type</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="date" class="form-control bg-transparent SfromDate" placeholder="add1">
                            <label class="ms-3">From Date Of Service</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-floating mt-2">
                            <input type="date" class="form-control bg-transparent StoDate" placeholder="add1">
                            <label class="ms-3">To Date Of Service</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent SproName" placeholder="add1">
                            <label class="ms-3">Provider Name</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="email" class="form-control bg-transparent SEmail" placeholder="add1">
                            <label class="ms-3">Email</label>
                        </div>
                        <div class="col-md-3 form-floating mt-2">
                            <input type="number" class="form-control bg-transparent SPhone" placeholder="add1">
                            <label class="ms-3">Phone Number</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2 mb-2">
                        <button class="btn btn-outline-info text-info clerInput">Clear</button>
                        <button class="btn btn-info text-light ms-3 serchBtn">Search</button>
                    </div>
                </div>
                <div class="searchData">
                    <div id="loading"></div>
                </div>
            </div>

        </div>
    </div>
</div>



<script asp-append-version="true">
    $(document).ready(function () {
        var item;
        $.ajax({
            url: '/AdminTab/SearchData',
            method: 'POST',
            data: { item: item },
            success: function (response) {
                $('.searchData').html(response);
            },
            error: function (xhr, status, error) {
                if (xhr["status"] == 401) {
                    window.location.href = "/Patient/PatientLogin";
                } else {
                    console.error(xhr.responseText)
                }
            }
        });
    });

    $('.serchBtn').click(function () {
        var reqStatus = $('.SreqStatus').val();
        var reqType = $('.SreqType').val();
        var ptName = $('.SptName').val().trim().toLowerCase();
        var formDate = $('.SfromDate').val();
        var toDate = $('.StoDate').val();
        var proName = $('.SproName').val().trim();
        var email = $('.SEmail').val().trim();
        var phone = $('.SPhone').val().trim();
        $.ajax({
            url: '/AdminTab/SearchData',
            method: 'POST',
            data: { reqStatus: reqStatus, reqType: reqType, ptName: ptName, formDate: formDate, toDate: toDate, email: email, proName: proName, phone: phone },
            success: function (response) {
                $('.searchData').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $('.clerInput').click(function () {
        $('input').val("");
        $('select').val("0");
        $.ajax({
            url: '/AdminTab/SearchData',
            method: 'POST',
            success: function (response) {
                $('.searchData').html(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $(document).on('click', '.page-link', function () {
        var page = $(this).data('page');
        var reqStatus = $('.SreqStatus').val();
        var reqType = $('.SreqType').val();
        var ptName = $('.SptName').val().trim().toLowerCase();
        var formDate = $('.SfromDate').val();
        var toDate = $('.StoDate').val();
        var proName = $('.SproName').val().trim();
        var email = $('.SEmail').val().trim();
        var phone = $('.SPhone').val().trim();
        $.ajax({
            url: '/AdminTab/SearchData',
            method: 'POST',
            data: { reqStatus: reqStatus, reqType: reqType, ptName: ptName, formDate: formDate, toDate: toDate, email: email, proName: proName, phone: phone, page:page },
            success: function (response) {
                $('.searchData').html(response);
                $('#CurrentPage').text("Page : " + (page+1));
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
