@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<div class="MainContent pt-0 min-vh-100">
    <div class="tab-content" id="nav-tabContent">

        <div class="HContainer m-auto pt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0">Send Order</h4>
                <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info BackOn">
                    <strong class="pe-2">&lt Back</strong>
                </a>
            </div>

            <p class="text-success text-center m-0"></p>

            <div class=" rounded shadow p-4 rounded-3">
                <div class="mb-4">
                    <h5>Patient Information</h5>

                    <div class="row">
                        <div class="col-md-6 form-floating mt-2">
                            <select class="form-select p-0 ps-3" id="professionOption">
                                <option selected disabled>Select Profession</option>
                                @foreach (var profession in Model.Healthprofessionaltype)
                                {
                                    <option value="@profession.Healthprofessionalid">@profession.Professionname</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 form-floating mt-2">
                            <select class="form-select p-0 ps-3" id="bussinessOption" data-id="@Model.requestId">
                                <option selected disabled>Bussiness</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent busCon" placeholder="business contact">
                            <label class="ms-3">Business Contact</label>
                        </div>
                        <div class="col-md-6 form-floating mt-2">
                            <input type="email" class="form-control bg-transparent VenEmail" placeholder="email">
                            <label class="ms-3">Email</label>
                        </div>
                        <div class="col-md-6 form-floating mt-2">
                            <input type="text" class="form-control bg-transparent VenFax" placeholder="fax number">
                            <label class="ms-3">Fax Number</label>
                        </div>
                    </div>
                </div>

                <div class="form-floating">
                    <textarea type="text" class="form-control bg-transparent h-25 prescription" placeholder="Detail info"
                              id="floatingInput" rows="3" aria-label="Detail info"
                              aria-describedby="button-addon2"> </textarea>
                    <label for="ms-3 text-info">Prescription or Order details</label>
                </div>

                <p class="text-danger spmsg m-0"></p>

                <div class="mt-4 mb-4">
                    <div class="row">
                        <div class="col-md-6 form-floating mt-2">
                            <label class="p-0 ps-3 text-secondary">Number Of Refill</label>
                            <select class="form-select ps-3 refil">
                                <option selected disabled>Not required</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end mt-4 mb-4">
                    <div class="btn btn-info text-light me-3 SendOrder" data-id="@Model.requestId"> Submit </div>
                    <button type="button" class="btn btn-danger BackOn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script asp-append-version="true">
    $(document).ready(function () {
        $('#professionOption').change(function () {
            var profession = $(this).val();
            $.ajax({
                url: '/AdminDash/checkHealthProfessional',
                method: 'POST',
                data: { profession: profession },
                success: function (response) {
                    //console.log(response.healthprofessional[0]["vendorname"]);
                    $("#bussinessOption").empty().append($('<option disabled selected> Bussiness </option>'));
                    $.each(response.healthprofessional, function (index, item) {
                        $("#bussinessOption").append($('<option></option>').val(item.vendorid).text(item.vendorname));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('#bussinessOption').change(function () {
            var reqid = $(this).attr('data-id');
            var vendorid = $('#bussinessOption').val();
            $.ajax({
                url: '/AdminDash/UpdateSendOrder',
                method: 'POST',
                data: { vendorid: vendorid, reqid: reqid },
                success: function (response) {
                    console.log(response.healthprofessional);
                    $(".VenFax").val(response.healthprofessional.faxnumber);
                    $(".VenEmail").val(response.healthprofessional.email);
                    $(".busCon").val(response.healthprofessional.businesscontact)
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.SendOrder').click(function () {
            var reqid = $(this).attr('data-id');
            var vendorid = $('#bussinessOption').val();
            var prescription = $('.prescription').val().trim();
            var refil = $('.refil').val();
            $.ajax({
                url: '/AdminDash/AddOrder',
                method: 'POST',
                data: { vendorid: vendorid, reqid: reqid, prescription: prescription, refil: refil },
                success: function (response) {
                    if (response.value == "ErrorP") {
                        $(".text-danger").text("Please Add Prescription!");
                    } else if (response.value == "ErrorV") {
                        $(".text-danger").text("Please Select Bussiness!");
                    } else {
                        $("#partial").html(response);
                        $(".text-success").text("Order Send Successfully !");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

    });
</script>