@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="modal fade" id="reqsupport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header bg-info p-2">
                <h1 class="modal-title fs-5 text-light ms-2" id="exampleModalLabel">Request Support</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>To all unscheduled Physicians: we are short on Coverage and needs additional support on call to respond to Request.</p>
                <div class="text-center pt-2">
                    <div class="form-floating mt-2">
                        <textarea type="text" class="form-control bg-transparent h-25"
                                  placeholder="Detail info" id="SupReq" rows="3" aria-label="Detail info" onkeyup="checkNote()"
                                  aria-describedby="button-addon2"></textarea>
                        <label for="ms-3 text-info">Message</label>
                    </div>
                </div>

                <span class="text-danger noteError"></span>
            </div>
            <div class="modal-footer p-1">
                <button type="submit" class="btn btn-secondary btn-info text-light ReqSupportDty">Continue</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal"> Cancel </button>
            </div>
        </div>
    </div>
</div>


<script asp-append-version="true">
    function checkNote(){
        if ($('#SupReq').val().trim() != ""){
            $(".noteError").text("");
        }
    }

    $('.ReqSupportDty').click(function () {
        var note = $('#SupReq').val().trim();
        if (note != '') {
            $.ajax({
                url: '/AdminDash/ReqSupportSend',
                method: 'POST',
                data: { note: note },
                success: function (response) {
                    if (response.value == "Ok") {
                        window.location.reload();
                    } else if (response.value == "Error") {
                        $(".noteError").text("required Add note!");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
        else {
            $('.noteError').text("Please add message.");
        }
    });
</script>