@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="modal fade" id="EnFinal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content rounded-4">
            <div class="modal-header bg-info p-2">
                <h1 class="modal-title fs-5 text-light ms-2" id="exampleModalLabel">
                    Encounter Form
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="d-none reqId" value="@TempData["reqid"]" />
                <p>Encounter form is finallized successfully !</p>
            </div>
            <div class="d-flex justify-content-center pb-4">
                <button class="btn btn-info text-light ps-2 pe-2" onclick="EncounterDownload()" data-bs-dismiss="modal"> Download </button>
            </div>
        </div>
    </div>
</div>

<script asp-append-version="true">
    function EncounterDownload() {
        var reqId = $('.reqId').val();
        var link = document.createElement('a');
        link.href = '/AdminDash/EncounterDownload?reqid=' + reqId;
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>

