

<div class="modal fade" id="LoadModal" tabindex="1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body w-75 m-auto text-center text-black">
                <h1 class="p-4">
                    <i class="bi bi-exclamation-circle-fill fs-1 text-warning"></i>
                </h1>
                <h4>Information</h4>
                <p>
                    When submiting a request, you must provide the corrrect contact
                    information for the patient or the responsibly party. Failure to provide
                    the correct email and phone number will delay service or be declined.
                </p>
                <button class="btn btn-info w-25" id="LoadDone">Ok</button>
            </div>
        </div>
    </div>
</div>