.fc-col-header-cell {
    background-color: gray;
}

a.fc-col-header-cell-cushion {
    text-decoration: none;
    color: white;
}

.fc-daygrid-day-number {
    text-decoration: none;
    color: black;
}

.fc-daygrid-day-top {
    background-color: #ffadf8;
    justify-content: center;
}

.fc-daygrid-day-events {
    border-bottom: 1px solid #d3c4c4;
}


.fc-timeline-slot-frame{
    background-color: gray;
}

.fc-timeline-slot-cushion {
    text-decoration: none;
    color: white;
}

.fc-datagrid-cell-main {
    text-decoration: none;
    color: black;
}

.penShift {
    background-color: #ffadf8;
    border: 1px solid #dd71d4;
}

.apprvShift {
    background-color: #a5cda7;
    border: 1px solid green;
}

.fc-event {
    background-color: #b2f3b2;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    display: none;
}

.fc-daygrid-dot-event .fc-event-title{
    font-weight: 500;
}