.fc-col-header-cell {
    background-color: gray;
}

a.fc-col-header-cell-cushion {
    text-decoration: none;
    color: white;
}

.fc-daygrid-day-number {
    text-decoration: none;
    color: black;
}

.fc-daygrid-day-top {
    background-color: #ffadf8;
    justify-content: center;
}

.fc-daygrid-day-events {
    border-bottom: 1px solid #d3c4c4;
}


.fc-timeline-slot-frame{
    background-color: gray;
}

.fc-timeline-slot-cushion {
    text-decoration: none;
    color: white;
}

.fc-datagrid-cell-main {
    text-decoration: none;
    color: black;
}

.penShift {
    background-color: #f74a4a;
    border: 1px solid #d71313;
}

.apprvShift {
    background-color: #65bb6a;
    border: 1px solid green;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
    display: none;
}

.fc-h-event .fc-event-title {
    margin-left: 4px;
}

.fc-event-time {
    display: none;
}

.fc-daygrid-dot-event .fc-event-title {
    font-weight: 500;
}


.PhyPhotoCnt {
    height: 70px;
    width: 70px;
}


td.fc-day.fc-day-sat.fc-day-future.fc-daygrid-day > :nth-child(1) > :nth-child(1) {
    background-color: #d7f5ff;
}

td.fc-day.fc-day-sat.fc-day-past.fc-daygrid-day > :nth-child(1) > :nth-child(1) {
    background-color: #d7f5ff;
}

td.fc-day.fc-day-sun.fc-day-future.fc-daygrid-day > :nth-child(1) > :nth-child(1) {
    background-color: #dafde8;
}

td.fc-day.fc-day-sun.fc-day-past.fc-daygrid-day > :nth-child(1) > :nth-child(1) {
    background-color: #dafde8;
}

