@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model HalloDoc.Entity.RequestForm.ClientInformation;

@{
    ViewData["Title"] = "New Password";
    Layout = "~/Views/Patient/PLoginLayout.cshtml";
}



<form class="FormCnt w-25" asp-controller="Patient" asp-action="NewPassword" method="post">
    <a class="btn w-5 btn-info rounded bg-transparent m-2 text-info" asp-controller="Patient" asp-action="PatientLogin">
        <strong class="pe-2"> <i class="bi bi-chevron-left fw-bold"></i> Back</strong>
    </a>
    <h4 class="mb-4 mt-3">Reset Your Password</h4>

    <div class="form-floating mb-3">
        <input type="password" class="form-control bg-transparent focus-ring focus-ring-info  position-relative"
               id="floatingInput" placeholder="name@example.com" asp-for="Password">
        <label for="floatingInput">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control bg-transparent focus-ring focus-ring-info  position-relative"
               id="floatingInput" placeholder="name@example.com" asp-for="ConfirmPassword">
        <label for="floatingInput">Confirm Password</label>
    </div>

    @if (TempData["Error"] != null)
    {
        <p class="text-danger text-center">@TempData["Error"]</p>
    }

    <button type="submit" class="w-100 h-10 btn btn-md btn-info text-light mt-3">Confirm To Change</button>
    <a class="nav-link text-center text-info fw-bold" asp-controller="Patient" asp-action="PatientLogin">
        <span class="w-20">&lt </span>Back to login
    </a>
</form>