
@{
    ViewData["Title"] = "Patient Site";
    Layout = "~/Views/Patient/PLoginLayout.cshtml";
}


<form class="FormCnt w-25">
    <a type="button" class="w-100 h-10 btn btn-md btn-info text-light fw-bold mt-3" asp-controller="Patient" asp-action="SubmitReq">Submit A Request</a>
    <a type="button" class="w-100 h-10 btn btn-md btn-primary text-light fw-bold mt-3" asp-controller="Patient" asp-action="PatientLogin">Registered Patient</a>
</form>
